$prime-color: #2c7a75;

.primeCol{
    color: $prime-color
}

.primeBCol{
    background-color: $prime-color;
}

.imgHold{
    background-image: url('../img/img-banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 226px;
}
.ban{
    border-radius: 25px;
}
.banner {
    font-size: 36px;
    max-width: 100vh;
}
.stats {
    font-size: 16px;
    max-height: 226px;
}
.stat{
    font-size: 20px;
    color:rgb(12,13,54);
    font-weight: bold;

    .row{
        max-width: 100vh;
    }
}

.tabl{
    color:rgb(12,13,54);
    font-weight:normal;
    border: rgb(196,196,196) solid 1px;

    .tCol{
        background-color: rgb(243,243,243);
    }
    .trow{
        height: 60px;

        th{
            font-weight:normal
        }
    }
}
.curs{
    cursor: pointer;
}
.boRad{
    border-radius: 25px;
}
.blur{
    opacity: 50%;
}
.scrPar{
    width:100%;
    display: flex;
    overflow: auto;
}
.scrChi{
    min-width: 300px;
    width: auto;
}
.noSpace{
    margin: 0;
    padding: 0;
}
.actDate{
    font-size: 12px;
    color:gray
}
.bGray{
    background-color: rgb(243,243,243);
}
.navSide{
    height:120px
}
.img{
    min-width: 50px;
}
@media (max-width: 767px) {
    .stats {
        font-size: 16px;
        max-height: 100vh;
    }
    .ban{
        border-radius: 0%;
    }
}