$prime-color: #2c7a75;
.App{
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	justify-content: space-between;
  }
  
.primeCol {
	color: $prime-color;
}

.primeBCol {
	background-color: $prime-color;
}
.modalBtn {
  color: white;
  padding: 1em;
  background-color: $prime-color;
}
.btnNone{
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
.modalBtn:hover {
  background-color: #235f5b;
}
.imgHold {
	background-image: url("../img/img-banner.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 226px;
}
.ban {
	border-radius: 25px;
}
.banner {
	font-size: 36px;
	max-width: 100vh;
}
.stats {
	font-size: 16px;
	max-height: 226px;
}
.stat {
	font-size: 20px;
	color: rgb(12, 13, 54);
	font-weight: bold;

	.row {
		max-width: 100vh;
	}
}
.scrTabl {
	width: 100%;
}
.tabl {
	color: rgb(12, 13, 54);
	font-weight: normal;
	border: rgb(196, 196, 196) solid 1px;
	min-width: 100%;

	.tCol {
		background-color: rgb(243, 243, 243);
	}
	.trow {
		height: 60px;

		th {
			font-weight: normal;
		}
	}
}
.curs {
	cursor: pointer;
}
.boRad {
	border-radius: 25px;
}
.blur {
	opacity: 50%;
}
.scrPar {
	width: 100%;
	display: flex;
	overflow: auto;
}
.scrChi {
	min-width: 300px;
	width: auto;
}
.noSpace {
	margin: 0;
	padding: 0;
}
.actDate {
	font-size: 12px;
	color: gray;
}
.bGray {
	background-color: rgb(243, 243, 243);
}
.navSide {
	height: 120px;
}
.img {
	min-width: 50px;
}

.tiptool {
	position: absolute;
	white-space: nowrap;
	z-index: 2;
}
.tip1 {
	top: 0%;
	right: 0%;
}
.activTip{
	bottom: 0%;
	right:0%;
}

.previewphoto {
  height: 100px;
  width: auto;
}
.toggleOff {
  background-color: #fff;
  display: flex;
  align-items: center;
  border: 1px solid $prime-color;
  border-radius: 20px;
  width: 40px;
  height: 20px;
  margin-right: 1em;;

  .toggleBtn {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: $prime-color;
    margin-left: 2px;
    transition: margin-left 0.3s ease-in, background-color 0.2s ease-in;
  }
}

  .toggleOn {
    background-color: $prime-color;
    display: flex;
    align-items: center;
    border: 1px solid $prime-color;
    border-radius: 20px;
    width: 40px;
    height: 20px;
    margin-right: 1em;;
  
    .toggleBtn {
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background-color: white;
      margin-left: 22px;
      transition: margin-left 0.3s ease-in, background-color 0.2s ease-in;
    }
}
.ModalForm{
  p{
    margin:1em 0 0 0;
    padding:0;
  }
  input, textarea{
    border-radius: 5px;
  }
}
@media (max-width: 767px) {
	.stats {
		font-size: 16px;
		max-height: 100vh;
	}
	.ban {
		border-radius: 0%;
	}
	.tabl {
		width: 200%;
		padding-right: 30px;
	}
	.scrTabl {
		overflow: auto;
	}
}
