.heading h1 {
	color: $bold-tosca;
	font-weight: 600;
}

.card-asset.card {
	height: 65vh !important;
}

.asset-content {
	height: 15vh;
}

img.img-asset {
	height: 20vh;
}

.asset-info {
	font-size: 14px;
}

.aset-user {
	color: $bold-tosca;
	.ico-user {
		height: 20px;
	}
}

@media (max-width: 325px) {
	.card-asset.card {
		height: 75vh !important;
	}
}

@media (min-width: 325px) and (max-width: 768px) {
	.card-asset.card.admin {
		height: 75vh !important;
	}
}

@media (min-width: 375px) and (max-width: 768px) {
	.card-asset.card {
		height: 77vh !important;
	}
	img.img-asset {
		height: 25vh !important;
	}
}

@media (min-width: 768px) and (max-width: 1199.98px) {
	.card-asset.card {
		height: 70vh !important;
	}

	.card-asset.card.admin {
		height: 75vh !important;
	}
}

@media (min-width: 1199.98px) {
	.card-asset.card {
		height: 67vh !important;
	}

	.card-asset.card.admin {
		height: 70vh !important;
	}
}
