.heading h1 {
	color: $bold-tosca;
	font-weight: 600;
}

.card.card-asset.card {
	height: 65vh !important;
}

.asset-content {
	height: 13vh;
}

img.img-asset {
	height: 20vh;
}

.asset-info {
	font-size: 14px;
}

.aset-user {
	color: $bold-tosca;
	.ico-user {
		height: 20px;
	}
}

@media (max-width: 768px) {
	.card.card-asset.card {
		height: 75vh !important;
	}
}

@media (min-width: 769px) and (max-width: 1199.98px) {
	.card.card-asset.card {
		height: 76vh !important;
	}
}

@media (min-width: 1120px) {
	.card.card-asset.card {
		height: 65vh !important;
	}
}
