.nav-link {
	&:hover {
		font-weight: 600;
	}
}

input.form-control,
.form-select {
	background-color: #f3f3f3;
	border: 1px solid #ffffff;
	border-radius: 8px !important;
}

input.w-100 {
	border: 1px solid #ced4da;
}

.avatar {
	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	vertical-align: middle;
	margin: 0;
	padding: 0;
	text-align: center;
	text-transform: uppercase;
	font-weight: normal;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	&.img-thumbnail {
		padding: 4px;
		max-width: none;
	}

	& > * {
		height: 100%;
		width: 100%;
	}
}

.btn-status,
.accordion-button {
	border: 1px solid $tosca !important;
	border-radius: 5px !important;
}

button.btn-aset {
	border: 1px solid $tosca !important;
	border-radius: 7px !important;
}
