@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
.side-left {
  height: 100vh;
  background-color: #2c7a75;
}

.side-left .imgModel {
  margin-top: 30vh !important;
  width: 60% !important;
}

button.btn-sign-in {
  color: #ffffff;
  background-color: #2c7a75;
}

button.btn-sign-in:hover {
  background-color: #47beb7;
}

@media (max-width: 767px) {
  .side-left {
    display: none !important;
  }
}

@media (min-width: 768px) and (max-width: 1199.98px) {
  .side-left .imgModel {
    width: 80% !important;
    margin-top: 28vh !important;
  }
}

.nav-link:hover {
  font-weight: 600;
}

input.form-control,
.form-select {
  background-color: #f3f3f3;
  border: 1px solid #ffffff;
  border-radius: 8px !important;
}

.statusCheck {
  background-color: #dbd9d9 !important;
}

input.w-100 {
  border: 1px solid #ced4da;
}

.avatar {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.avatar.img-thumbnail {
  padding: 4px;
  max-width: none;
}

.avatar > * {
  height: 100%;
  width: 100%;
}

.btn-status,
.accordion-button {
  border: 1px solid #3dada6 !important;
  border-radius: 5px !important;
}

button.btn-aset {
  border: 1px solid #3dada6 !important;
  border-radius: 7px !important;
}

.App {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.primeCol {
  color: #2c7a75;
}

.primeBCol {
  background-color: #2c7a75;
}

.modalBtn {
  color: white;
  padding: 1em;
  background-color: #2c7a75;
}

.btnNone {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.modalBtn:hover {
  background-color: #235f5b;
}

.imgHold {
  background-image: url("../img/img-banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 226px;
}

.ban {
  border-radius: 25px;
}

.banner {
  font-size: 36px;
  max-width: 100vh;
}

.stats {
  font-size: 16px;
  max-height: 226px;
}

.stat {
  font-size: 20px;
  color: #0c0d36;
  font-weight: bold;
}

.stat .row {
  max-width: 100vh;
}

.scrTabl {
  width: 100%;
}

.tabl {
  color: #0c0d36;
  font-weight: normal;
  border: #c4c4c4 solid 1px;
  min-width: 100%;
}

.tabl .tCol {
  background-color: #f3f3f3;
}

.tabl .trow {
  height: 60px;
}

.tabl .trow th {
  font-weight: normal;
}

.curs {
  cursor: pointer;
}

.boRad {
  border-radius: 25px;
}

.blur {
  opacity: 50%;
}

.scrPar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
}

.scrChi {
  min-width: 300px;
  width: auto;
}

.noSpace {
  margin: 0;
  padding: 0;
}

.actDate {
  font-size: 12px;
  color: gray;
}

.bGray {
  background-color: #f3f3f3;
}

.navSide {
  height: 120px;
}

.img {
  min-width: 50px;
}

.tiptool {
  position: absolute;
  white-space: nowrap;
  z-index: 2;
}

.tip1 {
  top: 0%;
  right: 0%;
}

.activTip {
  bottom: 0%;
  right: 0%;
}

.previewphoto {
  height: 100px;
  width: auto;
}

.toggleOff {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #2c7a75;
  border-radius: 20px;
  width: 40px;
  height: 20px;
  margin-right: 1em;
}

.toggleOff .toggleBtn {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #2c7a75;
  margin-left: 2px;
  -webkit-transition: margin-left 0.3s ease-in, background-color 0.2s ease-in;
  transition: margin-left 0.3s ease-in, background-color 0.2s ease-in;
}

.toggleOn {
  background-color: #2c7a75;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #2c7a75;
  border-radius: 20px;
  width: 40px;
  height: 20px;
  margin-right: 1em;
}

.toggleOn .toggleBtn {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: white;
  margin-left: 22px;
  -webkit-transition: margin-left 0.3s ease-in, background-color 0.2s ease-in;
  transition: margin-left 0.3s ease-in, background-color 0.2s ease-in;
}

.ModalForm p {
  margin: 1em 0 0 0;
  padding: 0;
}

.ModalForm input,
.ModalForm textarea {
  border-radius: 5px;
}

@media (max-width: 767px) {
  .stats {
    font-size: 16px;
    max-height: 100vh;
  }
  .ban {
    border-radius: 0%;
  }
  .tabl {
    width: 200%;
    padding-right: 30px;
  }
  .scrTabl {
    overflow: auto;
  }
}

.statusFilter ul {
  list-style: none;
}

.statusFilter ul li {
  padding: 1em 2em;
  background-color: #f3f3f3;
  border: #c4c4c4 solid 1px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  cursor: pointer;
}

.statusFilter ul li:hover {
  background-color: #d8d6d6;
}

.statusFilterDrop {
  display: none;
  border-radius: 10px;
}

.dateFilter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 30px 0;
}

.dateFilter .date {
  border-radius: 10px;
}

.scrTablP {
  width: 100%;
}

.tablP {
  color: #0c0d36;
  font-weight: normal;
  border: #c4c4c4 solid 1px;
  min-width: 100%;
}

.tablP .tCol {
  background-color: #f3f3f3;
}

.tablP .trow {
  height: 60px;
}

.tablP .trow th {
  font-weight: normal;
}

p div {
  border: red 1px solid;
}

@media (max-width: 767px) {
  .statusFilter {
    display: none;
  }
  .statusFilterDrop {
    display: block;
    margin-top: 20px;
  }
  .dateFilter {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 15px  0 0 0;
  }
  .dateFilter .date {
    width: 50%;
    margin-bottom: 30px;
  }
  .tablP {
    width: 300%;
    padding-right: 30px;
  }
  .scrTablP {
    overflow: auto;
  }
}

.heading h1 {
  color: #2c7a75;
  font-weight: 600;
}

.card.card-asset.card {
  height: 65vh !important;
}

.asset-content {
  height: 13vh;
}

img.img-asset {
  height: 20vh;
}

.asset-info {
  font-size: 14px;
}

.aset-user {
  color: #2c7a75;
}

.aset-user .ico-user {
  height: 20px;
}

@media (max-width: 768px) {
  .card.card-asset.card {
    height: 75vh !important;
  }
}

@media (min-width: 769px) and (max-width: 1199.98px) {
  .card.card-asset.card {
    height: 76vh !important;
  }
}

@media (min-width: 1120px) {
  .card.card-asset.card {
    height: 65vh !important;
  }
}

.modal-title,
p.title,
h6.title {
  color: #979797 !important;
}

p.content {
  font-size: 15px;
}

.status-detail-aset {
  font-size: 14px;
  font-weight: 500;
  background-color: #f3f3f3;
  border-radius: 16px !important;
}

.btn-detail {
  border-radius: 7px !important;
  background: rgba(61, 173, 166, 0.2) !important;
  color: #0c0d36 !important;
}

.btn-detail:hover {
  color: #ffffff !important;
  background-color: #3dada6 !important;
}

p.batal {
  color: #ff7158;
}

p.ajukan {
  color: #2c7a75;
}

.request {
  color: #3dada6;
}

img.img-detail-aset {
  height: 20vh;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #0c0d36 !important;
}
/*# sourceMappingURL=index.css.map */